.container{
    margin-top: auto;
}

  #dayCast{
    color: rgb(2, 0, 138);
    width: 500px;
    margin-bottom: 25px;
    margin-top: 10px ;
} 

.UV{
    text-align: left;
    width: 30%;
}

.time{
    text-align: right;
}